<!-- sidenav  -->
<app-nav></app-nav>

<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Baja Suscriptores</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a [routerLink]="['/tablero']">Tablero</a></div>
        <div class="breadcrumb-item">Baja Suscriptores</div>
      </div>
    </div>

    <div class="section-body">
      <h2 class="section-title">Baja Suscriptores</h2>
      <p class="section-lead">
        Listar las bajas de los suscriptores de la aplicación.
      </p>
      <div class="row">
        <div class="col-12">
          <div class="card">

            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-hover table-striped text-center">
                  <thead>
                    <tr class="text-uppercase">
                      <th class="d-none">
                        Id
                      </th>
                      <th>Nombre</th>
                      <th>Email</th>
                      <th>Estado</th>
                      <th>Fecha baja de suscripción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of baja_suscriptores">
                      <td class="p-0 text-center d-none">
                        {{item.id}}
                      </td>
                      <td>
                        {{ item.nombre }}
                      </td>
                      <td class="align-middle">
                        {{item.email}}
                      </td>
                      <td>
                        <div class="badge badge-danger" *ngIf="item.eliminado === 1">Dado de baja</div>
                      </td>
                      <td>{{ item.fecha_baja | date:'dd/MM/yy' }}</td>

                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
