<!-- nav  -->
<app-nav></app-nav>
<!-- Main Content -->
<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Suscriptores</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a [routerLink]="['/tablero']">Tablero</a></div>
        <div class="breadcrumb-item">Suscriptores</div>
      </div>
    </div>

    <div class="section-body">
      <h2 class="section-title">Suscriptores</h2>
      <p class="section-lead">
        Listar los suscriptores de la aplicación.
      </p>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4></h4>
              <div class="input-group w85">
                <p class="mr-1 mb-0">Número de filas:  </p>
                <select name="" [(ngModel)]="pageSize" class="myselect outline-none text-center" id="">
                  <option value="1">1</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
              <div class="card-header-form">
                <form>
                  <div class="input-group">
                    <!-- <input type="text" class="form-control" placeholder="Search">
                      <div class="input-group-btn"> -->
                    <button class="btn btn-primary mi-boton-radius" (click)="exporttoexcel()"><i class="fas fa-file-excel"></i> Exportar a excel</button>
                    <!-- </div> -->
                  </div>
                </form>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table id="suscriptores-table" class="table table-hover table-striped text-center">
                  <thead>
                    <tr class="text-uppercase">
                      <th class="d-none">
                        Id
                      </th>
                      <th>Nombre</th>
                      <th>Email</th>
                      <th>Estado</th>
                      <th>Fecha de suscripción</th>
                      <th></th>
                    </tr>
                  </thead>
                  <ng-container *ngIf="suscriptores.length==0 && !load_data">
                    <tbody>
                      <tr>
                        <td colspan="5" class="text-center">
                         <span class="text-muted">No hay registro de suscriptores</span>
                        </td>
                      </tr>
                    </tbody>

                  </ng-container>
                  <tbody *ngIf="load_data">
                    <tr>
                      <td class="text-center" colspan="5">
                        <div class="spinner-border mt-20" style="width: 3rem; height: 3rem;" role="status">
                        </div>
                        <span class="d-block mtb-20">Cargando...</span>
                      </td>
                    </tr>
                  </tbody>
                  <ng-container *ngIf="!load_data" >
                    <tbody>
                      <tr *ngFor="let item of suscriptores | paginate: { itemsPerPage: pageSize, currentPage: page }">
                        <td class="p-0 text-center d-none">
                          {{item.id}}
                        </td>
                        <td>
                          {{ item.nombre }}
                        </td>
                        <td class="align-middle">
                          {{item.email}}
                        </td>
                        <td>
                          <div class="badge badge-info" *ngIf="item.estado === 3">Nuevo suscriptor</div>
                          <div class="badge badge-success" *ngIf="item.estado === 2">Mail enviado</div>
                          <div class="badge badge-warning" *ngIf="item.estado === 1">Mail no enviado</div>
                          <div class="badge badge-danger" *ngIf="item.estado === 0">Se dio de baja</div>
                        </td>
                        <td>{{ item.fecha_subcripcion | date:'dd/MM/yy' }}</td>
                        <td class="text-center">
                          <a (click)="change_state(item.id)" class="text-info text-decoration-none cursor-pointer" data-toggle="modal" [attr.data-target]="'#editstatus-' + item.id" *ngIf="item.estado !== 2"><i class="fas fa-pen"></i> Editar</a>
                          <span  class=" cursor-default text-success" *ngIf="item.estado === 2"><i class="fas fa-check"></i> Listo</span>
                        </td>



                      </tr>
                    </tbody>
                  </ng-container>
                </table>

                <ng-container *ngIf="suscriptores.length >= 1">
                  <pagination-template class="d-flex justify-content-center" #p="paginationApi" (pageChange)="page = $event">
                    <ul class="pagination ml-2">
                      <div *ngIf="p.getLastPage() >= 3">
                        <li class="page-item" [class.disabled]="p.isFirstPage()">
                          <a class="page-link item" *ngIf="!p.isFirstPage()" (click)="p.setCurrent(1)" tabindex="-1"><< <!--Principio--></a>
                        </li>
                      </div>
                      <li class="page-item" [class.disabled]="p.isFirstPage()">
                        <a class="page-link item" *ngIf="!p.isFirstPage()"  (click)="p.previous()" tabindex="-1"> < <!--Anterior--></a>
                      </li>

                      <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                        <li class="page-item">
                          <a class="page-link item" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                            <span class="">{{ page.label }}</span>
                          </a>
                        </li>
                        <div *ngIf=" p.getCurrent() === page.value ">
                          <li class="page-item">
                            <a class="page-link active_item" >
                              <span class="">{{ page.label }}</span>
                            </a>
                          </li>
                        </div>

                      </div>

                      <li class="page-item" [class.disabled]="p.isLastPage()">
                        <a class="page-link item" *ngIf="!p.isLastPage()" (click)="p.next()">> <!--Siguiente--></a>
                      </li>
                      <div *ngIf="p.getLastPage() >= 3">
                      <li class="page-item" [class.disabled]="p.isLastPage()">
                        <a class="page-link item" *ngIf="!p.isLastPage()" (click)="p.setCurrent(p.getLastPage())">>> <!--Ultima--></a>
                      </li>
                      </div>
                    </ul>

                  </pagination-template>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<div *ngFor="let item of suscriptores">
  <div class="modal fade" id="editstatus-{{ item.id }}" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Cambiar estado</h5>
          <button type="button" class="close outline-none" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <form  #editst="ngForm" (ngSubmit)="edit_status(editst)">
        <div class="modal-body">
          <select name="status" [(ngModel)]="status" id="" class="form-control outline-none">
              <option value="" selected disabled>Seleccione una opción</option>
              <option value="1">No se envio mail</option>
              <option value="2">Mail enviado</option>
              <option value="3" disabled readonly>Nuevo suscriptor</option>
            </select>
            <div>
            </div>
          </div>
          <div class="modal-footer">
          <button type="submit" class="w-100 btn btn-primary outline-none" [disabled]="!editst.valid">Cambiar</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>


</div>
<app-footer></app-footer>
